fastapi>=0.115.7
uvicorn>=0.34.0
sqlmodel>=0.0.22
alembic>=1.14.1
tenacity>=9.0.0
pydantic>=2.10.6
pydantic_settings>=2.7.1
dnspython>=2.7.0
email-validator>=2.2.0
PyJWT>=2.10.1
passlib>=1.7.4
python-multipart>=0.0.20
pymysql>=1.1.1